@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Role";
}

    <h2>Available roles for application</h2>

    @Html.ActionLink("Create Role", "RoleCreate", "Admin")

<div>
    <table class="table">
        <tr style="background-color: #DDA0DD">
            <th>
                Role Name
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr style="background-color: #E6E6FA">
                <td>
                    @item.Name
                </td>
            </tr>
        }
    </table>
</div>